<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pojištění</title>
</head>
<body>
    <div class="btn-group" role="group" aria-label="Výběr kandidáta">
        <a href="users/get-all" class="btn btn-secondary">Uživatelé</a>
        <a href="users/create-user" class="btn btn-primary">Nový uživatel</a>
        <a href="insurances/get-all" class="btn btn-secondary">Pojištění</a>
        <a href="insurances/create-insurance" class="btn btn-secondary">Nové pojištění</a>
    </div>
</body>
</html>