<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insurances</title>
</head>
<body>
<h1>Pojištění</h1>
<div class="list-group" th:each="insuranceDTO : ${insuranceDTOS}">
    <div class="user-details list-group-item list-group-item-action active">
        <a class="list-group-item list-group-item-action">
            <span th:text="${insuranceDTO.type}"></span>
            <span th:text="${insuranceDTO.description}"></span>
        </a>
    </div>
</div>
</body>
</html>